# extends 'base.html'

# block header

# endblock

# block content
<div class="row">
<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Product Family</th>
                <th>SKU</th>
                <th>Location</th>
                <th>Instance Type</th>
                <th>Location</th>
                <th>Network Performance</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Product Family</th>
                <th>SKU</th>
                <th>Location</th>
                <th>Instance Type</th>
                <th>Location</th>
                <th>Network Performance</th>
            </tr>
        </tfoot>
    </table>
  </div>
# endblock
